.velocity {
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: 1px solid lightgray;
    outline: none;
}
