body {
    margin: 0;
    padding: 0;    
}
.app {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "control panel";
    grid-template-rows: auto;
    grid-template-columns: 10em 1fr;
    grid-gap: 10px;
}
.control {
    grid-area: control;
}
.epoch {
    font-size: 1.25em;
}
.knob-label {
    color: lightgray;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.lifecontainer {
    grid-area: panel;
    overflow: scroll;
}
