body {
    margin: 0;
    padding: 0;
}
.application {
    display: grid;
    grid-template-areas:
        "header header"
        "users posts"
        "footer footer";
    grid-template-rows: 3.5em 1fr 2.5em;
    grid-template-columns: 35% 1fr;
    grid-gap: 10px;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.header {
    grid-area: header;
    padding: 10px;
    background: gold;
    overflow: hidden;
    font-size: 2em;
}
.users {
    grid-area: users;
    padding: 10px;
    background: gold;
    overflow: scroll;
}
.posts {
    grid-area: posts;
    padding: 10px;
    background: gold;
    overflow: scroll;
}
.footer {
    grid-area: footer;
    padding: 10px;
    background: gold;
    overflow: hidden;
}
